<!-- nav tabs -->
<div class="leaflet-sidebar-tabs">
    <!-- top aligned tabs -->
    <ul role="tablist">
        <li><a href="#home-tab" role="tab" title="Dati Agro-ambientali"><i class="fas fa-bars active"></i></a></li>
        <li><a href="#georaster-tab" title="Dati raster" role="tab"><i class="fas fa-map-marked-alt"></i></a></li>
        <li><a href="#layers-tab" title="Gestione layer" role="tab"><i class="fas fa-layer-group"></i></a></li>
    </ul>
</div>
<!-- panel content -->
<div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="home-tab">
        <h1 class="leaflet-sidebar-header">
            Dati Agro-ambientali
            <span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span>
        </h1>
        <br/>
        <!-- Form ricerca dati -->
        <div class="row">
            ${ require('./sidebar-data-form.html') }
        </div>
        <!-- Tabella -->
        <div class="row">
            <div class="col-md-12" style="padding:30px 25px;">
                <table id="data-grid" class="table table-sm table-striped"></table>
            </div>
        </div>
        <!-- Grafico -->
        <div class="row">
            <div class="col-md-12">
                <canvas id="data-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="leaflet-sidebar-pane" id="georaster-tab">
        <h1 class="leaflet-sidebar-header">
            Dati raster
            <span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span>
        </h1>
        </br>
        <!-- Form Raster -->
        <div class="row">
            ${ require('./sidebar-raster-form.html') }
        </div>
    </div>

    <div class="leaflet-sidebar-pane" id="layers-tab">
        <h1 class="leaflet-sidebar-header">
            Layers
            <span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span>
        </h1>
    </div>
</div>   
</div>     