<div class="col-md-12">
    <div class="form-group">
        <div class="col-md-12">
            <div class="input-group">
                <select id="raster-filter" class="selectpicker" 
                        data-none-selected-text="Scegliere un Raster"
                        data-style="btn-warning" data-size=10 data-width="100%">
                </select>      
            </div>	
        </div>
    </div>
    <div class="form-inline">
        <div class="col-md-6">
            <div class="input-group">
                <button id="add-raster-btn" class="btn btn-danger btn-block">
                    <i class="fas fa-plus"></i> Aggiungi alla mappa</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <button id="remove-raster-btn" class="btn btn-danger btn-block">
                    <i class="fas fa-minus"></i> Rimuovi dalla mappa</button>
            </div>
        </div>
    </div>
</div>